
  .pritam-saha {
      display: flex;
      position: relative;
      margin-top: 2rem;
        font-style: normal;
        font-weight: 500;
        font-size: 25.5px;
        line-height: 100%;
        background: white;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      
    }
    .pritam-saha-wrapper {
      flex: 1;
      display: flex;
      flex-direction: row;
      padding: 0;
      align-items: flex-start;
      justify-content: space-between;
    }

    .know-more-about-me-wrapper1 {
      display: flex;
      flex-direction: row;
      padding: 8rem 0 0 0;
      align-items: flex-start;
      justify-content: flex-start;
      text-align: center;
      font-size: var(--font-size-53xl);
    }

    .know-more-about1 {
      position: relative;
      line-height: 120%;
      display: inline-block;
      width: 50.56rem;
      flex-shrink: 0;
    }

    .outer_div1
    {
      margin-left: 15rem;
      display: grid;
      height: 110px;
      width: 20.56rem;
      position: relative;
      border-radius: 10px;
      background: linear-gradient(125.46deg, #FFFFFF -2.09%, #62A4F1 19.09%, #7F4BEE 59.1%, #FFFFFF 92.51%, #157FFB 114.87%)
      
    }
    .read-more1 {
      font-style: normal;
      font-weight: 500;
      font-size: 38.5px;
      line-height: 120%;
      background: linear-gradient(125.46deg, #FFFFFF -2.09%, #62A4F1 19.09%, #7F4BEE 59.1%, #FFFFFF 92.51%, #157FFB 114.87%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
    .inner_div1
    {
      top: 50%;
      left: 50%;
      align-items: center;
      text-align: center;
      
      height: 104px;
      width: 19.84rem;
      align-items: center;
      border-radius: 5px;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: #000;
    }


    .about-me-12{
      background: white;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

    }
    .about-me {
      
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 7px;
      gap: 72px;

      
      position: relative;
      line-height: 3.8rem;
      font-weight: 500;
    }
    .about-me-wrapper,
    .connect-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 72px;
    }
    .about-me-wrapper {
      width: 130px;
      padding: var(--padding-3xs) 0;
      box-sizing: border-box;
    }
    .connect-wrapper {
      padding: var(--padding-3xs) var(--padding-lg) var(--padding-3xs) 0;
      max-width: 7rem;
    }
    
    .frame-container {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: var(--font-size-5xl);
      margin-right: 10px;
    }
    .frame-group,
    .frame-wrapper {
      align-self: stretch;
      display: flex;
      justify-content: flex-start;
      
    }
    .frame-group {
      flex-direction: row;
      align-items: center;
      gap: 294px;
      padding: 6px 20px;
      align-items: flex-start;
      background-color: #000;
      color: #FFFFFF;
    }
    .frame-145 {
      flex-direction: row;
      align-items: center;
      gap: 294px;
      padding: 6px 20px;
      align-items: center;
      background-color: #000;
      color: #FFFFFF;
    }
    .frame-wrapper {
      flex-direction: column;
      padding: 6px 20px;
      align-items: flex-start;
      background-color: #000;
      color: #FFFFFF;
    }

    .people-first {
      width: 100%;
      height: 100%;
      font-style: normal;
      font-weight: 500;
      font-size: 5.5em;
      line-height: 120%;
      background: linear-gradient(125.46deg, #FFFFFF -2.09%, #62A4F1 19.09%, #7F4BEE 59.1%, #FFFFFF 92.51%, #157FFB 114.87%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -o-animation-direction: alternate;
      
    }

    
    .a-small-selection{
        position: relative;
        line-height: 120%;
        display: inline-block;
        width: 50.56rem;
        flex-shrink: 0;
    }

    }
    .people-first-parent {
      flex: 1;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 60px;
    }
    .i-specialise-in,
    .pritam-saha- {
      position: relative;
      line-height: 76%;
      display: inline-block;
      width: 799px;
      align-items: center;
      text-align: center;
  
    }
    .i-specialise-in {
      flex-shrink: 0;
      margin: 56px 0;
  
      width: 1108px;
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 160%;
      /* or 51px */
  
      text-align: center;
  
  
      color: #FFFFFF;
    }
  
  
  
    .read-more {
      width: 103px;
      height: 24px;
      font-style: normal;
      font-weight: 500;
      font-size: 24.5px;
      line-height: 120%;
      /* identical to box height, or 24px */
  
  
      /* design gra */
  
      background: linear-gradient(125.46deg, #FFFFFF -2.09%, #62A4F1 19.09%, #7F4BEE 59.1%, #FFFFFF 92.51%, #157FFB 114.87%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  
    .button {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
    
    .outer_div
    {
      display: grid;
      height: 56px;
      width: 209px;
      position: relative;
      border-radius: 8px;
      background: linear-gradient(125.46deg, #FFFFFF -2.09%, #62A4F1 19.09%, #7F4BEE 59.1%, #FFFFFF 92.51%, #157FFB 114.87%)
      
    }
    .inner_div
    {
      top: 50%;
      left: 50%;
      align-items: center;
      text-align: center;
      
      height: 50px;
      width: 202px;
      align-items: center;
      border-radius: 8px;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: #000;
    }
    .xbt{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 16px 48px;
      gap: 10px;
      
      width: 157px;
      height: 56px;
      
      border-radius: 8px;
  
      
      /* background: linear-gradient(125.46deg, #FFFFFF -2.09%, #62A4F1 19.09%, #7F4BEE 59.1%, #FFFFFF 92.51%, #157FFB 114.87%); */
      color: black;
  
    }

    
  
    .frame-div,
    .frame-div1,
    .read-more-wrapper {
      display: flex;
      justify-content: flex-start;
    }
    .read-more-wrapper {
      border-radius: var(--br-5xs);
      overflow: hidden;
      flex-direction: row;
      padding: var(--padding-base) var(--padding-29xl);
      align-items: flex-start;
      font-size: 20px;
    }
    .frame-div {
      
      align-self:center;
      flex-direction: column;
      padding: 1.5rem;
      align-items: center;
      margin: 96px 0 39px  0;
    }
    .frame-div1 {
      align-self:center;
      flex-direction: column;
      padding: 1.5rem;
      align-items: center;
      margin: 96px 0 39px  0;
    }

    .frame-15256-1 {
      position: relative;
      border-radius: var(--br-base);
      width: 527px;
      height: 351px;
      object-fit: cover;
    }
    .frame-15256-1-wrapper,
    .frame-parent2,
    .frame-parent3 {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .frame-15256-1-wrapper {
      border-radius: var(--br-13xl);
      background-color: var(--color-gray);
      flex-direction: column;
      padding: var(--padding-base);
    }
    .frame-parent2,
    .frame-parent3 {
      align-self: stretch;
      flex-direction: row;
      gap: var(--gap-13xl);
    }
    .frame-parent2 {
      flex-direction: column;
    }
    .frame-parent,
    .frame-parent1 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .frame-parent1 {
      align-self: stretch;
      padding: var(--padding-21xl) 88px;
      justify-content: flex-start;
      gap: var(--gap-37xl);
      text-align: center;
      font-size: 72px;
    }
  
    
    .frame-screen-1 {
      max-width: 85rem;
      display: grid;
      margin: 0 2rem;
      grid-template-rows: 1fr 1fr;

    }
    .Ba , .Kcp {
      word-wrap: break-word;
      min-height: var(--min-height);
      min-width: var(--min-width);
      overflow-wrap: break-word;
      pointer-events: none;
      text-align: center;
  }
  
  .frame-15256-1-wrapper,
  .frame-parent4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-15256-1-wrapper {
    border-radius: var(--br-13xl);
    background-color: var(--color-gray);
    flex-direction: column;
    padding: var(--padding-base);
  }
  .frame-parent4 {
    flex-direction: row;
    gap: var(--gap-13xl);
  }
  .blu-smart {
    position: relative;
    line-height: 120%;
    display: inline-block;
    width: 26.44rem;
    z-index: 0;
}
  .frame-parent5 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-13xl);
    z-index: 1;
  }
  .akounto {
    position: absolute;
    margin: 0 !important;
    top: 0;
    left: 37.94rem;
    line-height: 120%;
    display: inline-block;
    text-align: left;
    width: 17.44rem;
    z-index: 2;
  }
  .blu-smart-parent,
  .frame-parent3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .blu-smart-parent {
    position: relative;
    gap: var(--gap-37xl);
  }
  .frame-parent3 {
    gap: var(--gap-13xl);
    z-index: 1;
  }
  .classe-fi,
  .trekhops {
    position: absolute;
    margin: 0 !important;
    top: 77.56rem;
    left: 5.5rem;
    line-height: 120%;
    display: inline-block;
    text-align: left;
    width: 17.44rem;
    z-index: 2;
  }
  .classe-fi {
    left: 41.94rem;
    z-index: 3;
  }
  .frame-parent,
  .frame-parent2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .frame-parent2 {
    width: 81.88rem;
    padding: var(--padding-21xl) var(--padding-69xl) 3.5rem;
    box-sizing: border-box;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-37xl);
    text-align: center;
    font-size: var(--font-size-37xl);
  }
  .frame-parent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
  }
  .portfolio-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 83rem;
    height: 166.19rem;
  }
  .have-a-project {
    position: absolute;
    top: 155.44rem;
    left: calc(50% - 359px);
    font-size: var(--font-size-53xl);
    line-height: 120%;
    display: inline-block;
    text-align: center;
    width: 44.81rem;
  }
  .portfolio {
  position: relative;
  background-color: #000;
  max-width: 500em;
  max-height: 1200em;
  overflow: hidden;
  text-align: center;
  font-size: 2.25em;
  color: var(--color-white);
  font-family: 'Inter', sans-serif;
  margin-right: 0 ;
  }





  .frame-15256-1-wrapper,
  .frame-parent4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-15256-1-wrapper {
    border-radius: var(--br-13xl);
    background-color: var(--color-gray);
    flex-direction: column;
    padding: var(--padding-base);
  }
  .frame-parent4 {
    flex-direction: row;
    gap: var(--gap-13xl);
  }
  .frame-parent5 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-13xl);
    z-index: 1;
  }
  .akounto {
    position: absolute;
    margin: 0 !important;
    top: 0;
    left: 37.94rem;
    line-height: 120%;
    display: inline-block;
    text-align: left;
    width: 17.44rem;
    z-index: 2;
  }
  .blu-smart-parent,
  .frame-parent3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .blu-smart-parent {
    position: relative;
    gap: var(--gap-37xl);
  }
  .frame-parent3 {
    gap: var(--gap-13xl);
    z-index: 1;
  }
  .classe-fi,
  .trekhops {
    position: absolute;
    margin: 0 !important;
    top: 77.56rem;
    left: 5.5rem;
    line-height: 120%;
    display: inline-block;
    text-align: left;
    width: 17.44rem;
    z-index: 2;
  }
  .classe-fi {
    left: 41.94rem;
    z-index: 3;
  }
  .frame-parent,
  .frame-parent2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .frame-parent2 {
    width: 81.88rem;
    padding: var(--padding-21xl) var(--padding-69xl) 3.5rem;
    box-sizing: border-box;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-37xl);
    text-align: center;
    font-size: var(--font-size-37xl);
  }
  .frame-parent {
    position: absolute;
    max-width: 88rem;
    max-height: fit-content;
    top: 0;
    left: calc(50% - 662px);
    justify-content: center;
  }
  .portfolio-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 83rem;
    height: 166.19rem;
  }
  .have-a-project {
    position: absolute;
    top: 155.44rem;
    left: calc(50% - 359px);
    font-size: var(--font-size-53xl);
    line-height: 120%;
    display: inline-block;
    text-align: center;
    width: 44.81rem;
  }
  .portfolio2 {
    position: relative;
    background-color: #000;
    max-width: 500em;
    max-height: 5000em;
    overflow: hidden;
    text-align: center;
    font-size: 2.25rem;
    color: var(--color-white);
    font-family: 'Inter', sans-serif;
    margin-right: 0 ;
  }
  
  
  
  
  .frame-parent5,
  .read-more-wrapper {
    display: flex;
    justify-content: flex-start;
  }
  .read-more-wrapper {
    border-radius: var(--br-5xs);
    overflow: hidden;
    flex-direction: row;
    padding: var(--padding-base) var(--padding-29xl);
    align-items: flex-start;
    font-size: 20px;
  }
  .frame-parent5 {
    align-self:center;
    flex-direction: column;
    padding: 1.5rem;
    align-items: center;
    margin: 96px 0 39px  0;
  }
  .frame-parent4 {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: var(--padding-77xl) 0 var(--padding-77xl) 0.13rem;
    align-items: center;
    justify-content: center;
    gap: var(--gap-37xl);
  }

  

  .frame-15256-1 {
    position: relative;
    border-radius: var(--br-base);
    width: 527px;
    height: 351px;
    object-fit: cover;
  }
  .frame-15256-1-wrapper,
  .frame-parent8 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent15 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-15256-1-wrapper {
    border-radius: var(--br-13xl);
    background-color: var(--color-gray);
    flex-direction: column;
    padding: var(--padding-base);
  }
  .frame-parent8 {
    flex-direction: row;
    gap: 32px;
  }
  .frame-parent15 {
    flex-direction: row;
    gap: 160px;
  }

  .frame-parent9 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-13xl);
    z-index: 1;
  }
  .akounto {
    position: absolute;
    margin: 0 !important;
    top: 0;
    left: 37.94rem;
    line-height: 120%;
    display: inline-block;
    text-align: left;
    width: 17.44rem;
    z-index: 2;
  }
  .blu-smart-parent,
  .frame-parent7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .bue-154 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .blu-smart-parent {
    position: relative;
    gap: var(--gap-37xl);
  }
  .frame-parent7 {
    gap: var(--gap-13xl);
    z-index: 1;
  }
  .classe-fi,
  .trekhops {
    position: absolute;
    margin: 0 !important;
    top: 77.56rem;
    left: 5.5rem;
    line-height: 120%;
    display: inline-block;
    text-align: left;
    width: 17.44rem;
    z-index: 2;
  }
  .classe-fi {
    left: 41.94rem;
    z-index: 3;
  }
  .frame-parent1,
  .frame-parent6 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .frame-parent6 {
    width: 81.88rem;
    box-sizing: border-box;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-37xl);
    text-align: center;
    font-size: var(--font-size-37xl);
  }
  .have-a-project1 {
    position: absolute;
    top: 155.44rem;
    left: calc(50% - 359px);
    font-size: var(--font-size-53xl);
    line-height: 120%;
    display: inline-block;
    text-align: center;
    width: 44.81rem;
  }
  .line-1{

  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li{
    text-align: justify; /* For Edge */
    text-align-last: center;
  }



  
/**************************/
/* CTA SECTION */
/**************************/
.message-wrapper {
  /* max-width: 211%; */
  margin-top: 1.5em;

}

.message {
  display: flex;
  height: 18rem;
  align-items: flex-start;

}

.input::placeholder {
  text-align: top;
}



.section-cta {
  /* top / right / bottom / left */
  /* padding: 9.6rem 0 12.8rem 0; */

  /* top / horizontal / left */
  padding: 4.8rem 0 12.8rem;
}

.cta {
  width: 100%;
  display: flex;
  /* 2/3 = 66.6% + 1/3 = 33.3% */
  grid-template-columns: 1fr;
  background-color: #0f0f0f;
  border-radius: 1px;
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  /* color: #fff; */
}

.cta .heading-secondary {
  /* color: inherit; */
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}


.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta-form2 {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #0f0f0f;
  border-radius: 9px;
  box-shadow: 0 1px 5px #424242;
}
.cta-form2 input,
.cta-form2 select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #0f0f0f;
  border-radius: 9px;
  box-shadow: 0 1px 5px #424242;
}

.cta-form input::placeholder {
  /* color: #424242; */
}

.cta *:focus {
  /* outline: none; */
  /* box-shadow: 0 0 0 5rem  #424242; */
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #000;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #fff;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #fff;
}


/* Button */

.btnx,
.btnx:link,
.btnx:visited {
  display: inline-block;
  width: 60rem;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  
  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;
  
  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}


.btn--form {
  margin-top: 2rem;
  /* background-color: #45260a; */
  background: #6337F5;
  /* color: #fdf2e9; */
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.section-cta{
  margin-top: 8rem;
}




