/* Common styles for all screen sizes */
     * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    
    html {
      font-size: 100%;
    }
    
    body {
      line-height: 1;
      font-family: 'Inter', sans-serif;
      position: relative;
      font-weight: 500;
      max-width: auto;
    }




@media only screen and (max-width: 2560px) {

  .btnx {
    width: 56rem;
  }

  .people-first-parent{
    display: grid;
  }

  .logo{
    width: 20rem;
    padding-left: 4rem;
  }

  .frame-145{
    padding: 104px 20px;
  }
  .xtimg12{

      position: relative;
      border-radius: var(--br-base);
      width: 10em;
      height: 351px;
      object-fit: cover;
      animation: slideIn2 2s ease-in-out;
      
      
    }
    .xtimg123{

      position: relative;
      border-radius: var(--br-base);
      width: 10em;
      height: 351px;
      object-fit: cover;
      animation: slideIn1 2s ease-in-out;
  
  }

  @keyframes slideIn1 {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slideIn2 {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .logo{
    font-size: xx-large;
  }


  .pritam-saha{
    font-size: 1.5em;
    line-height: 72px;
  }
  .i-specialise-in {
    position: relative;
    border-radius: var(--br-base);
    width: 40em;
    font-size: 1.7em;

    object-fit: cover;

}
.hi-im-pritam-saha-and-i-desi-parent {
  /* position: absolute; */
  /* top: 13.75rem; */
  left: 50%;
  right: 50%;

  /* align-items: center; */
  /* gap: 4.69rem; */
  /* text-align: center; */
  /* font-size: 2em; */
}
.people-first{
  font-size: 8rem;
}

.hei-12{
  left: 12em;
}





}
@media only screen and (max-width: 1920px) {

  .hei-12{
    left: 12em;
  }

  .people-first-parent{
    display: grid;
  }

  .hei-12{
    left: 6em;
    line-height: 3;
  }

  .logo{
    width: 20rem;
    font-size: x-large;
    padding-left: 4rem;
  }

  .frame-div{
    margin: -17px 0 39px 0;
  }
  .frame-145{
    padding: 104px 20px;
  }
  .xtimg12{

      position: relative;
      border-radius: var(--br-base);
      width: 10em;
      height: 351px;
      object-fit: cover;
      animation: slideIn2 2s ease-in-out;
      
      
    }
    .xtimg123{

      position: relative;
      border-radius: var(--br-base);
      width: 10em;
      height: 351px;
      object-fit: cover;
      animation: slideIn1 2s ease-in-out;
  
  }

  @keyframes slideIn1 {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slideIn2 {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }


  .pritam-saha{
    font-size: 1em;
    line-height: 39px;
  }
  .i-specialise-in {
    position: relative;
    border-radius: var(--br-base);
    width: 36em;
    font-size: 0.7em;

    object-fit: cover;

}
.hi-im-pritam-saha-and-i-desi-parent {
  /* position: absolute; */
  /* top: 13.75rem; */
  left: 50%;
  right: 50%;

  /* align-items: center; */
  /* gap: 4.69rem; */
  /* text-align: center; */
  /* font-size: 2em; */
}
.people-first{
  font-size: 5.8rem;
}





}

@media only screen  and (max-width: 1440px) {

  .people-first-parent{
    display: grid;
  }
  .xtimg12 .xtimg123{

      position: relative;
      border-radius: var(--br-base);
      width: 1em;
      height: 351px;
      object-fit: cover;
  
  }



  .pritam-saha{
    font-size: 2rem;
  }
  .i-specialise-in {
    position: relative;
    border-radius: var(--br-base);
    width: 36em;
    font-size: 2.2rem;

    object-fit: cover;

}

.people-first {
  font-size: 2.5em;

}

.frame-145 {
    padding: 11px 8px;
}
.frame-div{
  margin: 65px 0 9px 0;
}


.hei-12 {
  top: 2.5%;
  left: 3.5em;
  
}

.container-pri {
  margin-bottom: 3rem;

}

.aq{
  padding: 49rem 88px 20rem 99px;
}

.outer_div12{
  margin-left: 26rem;
}


}




@media only screen and (max-width: 1024px) {
  /* Add your laptop-specific styles here */

  .btnx {
    width: 52rem;
    margin-left: 2rem;
  }

  .cta-form{
    column-gap: 0.2rem;
  }

  .cta-form2 input{
    margin-left: 2rem;
    width: 97%;
  }
  .cta-form input{
   margin-right: -7rem;
  }
  body{
    max-width: 1024;
    line-height: 0.5;
  }
.hei-12{
  top: 2rem;
  left: 0;
  font-size: 2.1em;
  max-width: 1005px;
  
}


  .read-more1{
    font-size: 35.5px; 
    /* line-height: 0%; */
   }

  .pritam-saha {
    font-weight: 200;
  }
  .portfolio{
    font-size: 1.5rem;
    height: 49rem;

  }
  .people-first-parent{
    margin-top: 130px;


  }
  .outer_div12 {
    margin-left: 44rem;
    width: 15.4rem;
    height: 4.3rem;
  }
  .outer_div1 {
    margin-left: 11rem;
    width: 15.4rem;
    height: 4.3rem;
  }
  .inner_div12{
    width: 15rem;
    height: 4rem;
  }
  .inner_div1{
    width: 15rem;
    height: 4rem;
  }


  .know-more-about125 {

    left: 20rem;

  }

  .container-pri {
    margin-top: 6rem;
  }



 .people-first{
  
    max-width: 150rem;
    height: 8rem;

 }
  .i-specialise-in {
    max-width: 900px;
    margin: 48px 0;
    font-size: 25px;
  }
  .read-more {
    line-height: 160%;
  }
  .xbt {
    line-height: 120%;
    width: 250px;
    height: 100px;
  }
  .frame-div {
    padding: 1rem;
    margin: -145px;
  }
  .frame-parent6 {
    font-size: 1.8rem;
    padding: 5rem;

  }

  .frame-145 {
    padding: 100px 8px;
}
  .a{
    font-size: 3.6rem;
  }
  .frame-15256-1{
    max-width: 400px;
  }

  ..hi-im-pritam-container {
    line-height: 200%;
}

.aq {
  left: 50%;
  right: 50%;
  padding: 30em;
  align-items: flex-end;
}

.know-more-about-me-wrapper {
  display: flex;
  flex-direction: row;
  padding: 2.25rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.5em;
  margin-top: 2.5em;
}


.i-am-a1 {
  position: absolute;
  top: 2rem;
  left: 525px;
  line-height: 120%;
  font-weight: 200;
  width: 872px;
  margin-bottom: 2rem;
  padding-left: 2rem;
}

.group-child {
  
  width: 850px;
  height: 350px;
  left: 400px;
  
  
}
.group-child1 {
  
  width: 890px;
  height: 269px;
  left: 510px;
  
  
}
.rectangle-parent {
  /* position: relative; */
  /* width: 72rem; */
  height: 19rem;
  /* margin-bottom: 3.5rem; */
}
.desktop-19 {
  width: 100%;
  height: 185.69rem;
  text-align:start;
  font-size: 1.75rem;
}


.group-item{
  width: 883px;
  height: 433px;
  left: 515px;
  
}

.i-use-my-container {
  /* position: absolute; */
  /* top: 2.63rem; */
  left: 508px;
  /* line-height: 160%; */
  padding-left: 2rem;
  /* font-weight: 500; */
  /* display: inline-block; */
  text-align: start;
  width: 870px;
}
.i-am-passionate {
  position: absolute;
  top: 3rem;
  left: 504px;
  line-height: 120%;
  font-weight: 200;
  width: 800px;
  margin-bottom: 1.5rem;
  padding-left: 2rem;
}


.know-more-about-me-wrapper1 {
    padding: 2rem 0 0 6rem;
    margin: 0 0 0 15rem;
  }
  .know-more-about12{
    
    width: 1024px;
    height: 109px;
    text-align: center;
  font-size: 3.5rem;
  line-height: 100%;
  padding-right: 28rem;

}
  .know-more-about1{
    
    width: 1024px;
    height: 109px;
    text-align: center;
  font-size: 3.5rem;
  line-height: 100%;
  padding-right: 23rem;

}

.hi-im-pritam-saha-and-i-desi-parent {
  font-size: 2.5em;
}

.a-small-selection{
  width: 36.56rem;
  line-height:130% ;
}
h2{
  font-size: 4rem;
}

.frame-div1{
  margin: 9px 0 39px 0;

}

.xbc {

  margin-top: 1.5em;

}

.aq {

}

.img-2012-1-wrapper {
margin: 0 2rem;
padding: 0 8.25rem;
  
}

.cta-text-box {
  margin: 64px 0;
  padding: 0;
  /* color: #fff; */
}

.cta-form input, .cta-form select {
  width: 90%;
  padding-right: 50%;
  padding-left: 10%;
}
.cta-text{
  margin-left: 1rem;

}
.cta-form input {
  margin-right: -2rem;
}

.frame-parent8{
  margin-left: 48px;
}

.frame-parent15{
  gap:4px;

}










}



/* Rest of your CSS code */

     /* Styles for tablet devices */
@media only screen and (max-width: 768px) {
  .blu-smart {
    width: 18rem;
  }

  .frame-parent8{
    margin-left: -32px;
  }
  .frame-parent7{
    margin-left: 60px;
  }
  .bue-154{
    margin-left: 60px;
  }
  .frame-parent6{
   text-align: start;
  }
  
  .frame-parent15{
    gap:87px;
  
  }
  h2 {
    font-size: 3rem;
    margin-left: 0rem;
}

  .btnx {
    width: 38rem;
    margin-left: 0rem;
  }
      

    .frame-wrapper{
        display: none;
      }

    .pritam-saha.pritam-saha-1 {
       font-size: 2rem;
      }

    .akounto{
        left: 22.94rem;
      }
    .frame-parent7 {
        gap: 0;
        z-index: 1;
      }

      .xtimg12, .xtimg123{
        width: 14em;
      }

      .message-wrapper {
        /* max-width: 211%; */
        margin-top: 3rem;
    }


    





    .pritam-saha {
        font-weight: 200;
      }
    .portfolio{
        font-size: 1rem;
        height: 49rem;

    
      }
    .people-first-parent{
        margin-top: 10rem;

    
      }
    .people-first{
  
        max-width: 180rem;
        height: 3.5em;
     }


    .i-specialise-in {
    max-width: 750px;
    margin: 48px 0;
    font-size: 25px;
     }
  .read-more {
    line-height: 160%;
  }
  .xbt {
    line-height: 120%;
    width: 250px;
    height: 100px;
    
  }
  .frame-div {
    padding: 1rem;
  }
  .frame-parent6 {
    font-size: 1.8rem;
    padding: 7rem;
    /* text-align: center; */
    /* align-items: center; */

  }
  .a{
    font-size: 4rem;
  }
  .frame-15256-1{
    max-width: 280px;
    height: 224px;
  }

  portfolio2 {
    position: relative;
    background-color: #000;
    height: 98rem;
    overflow: hidden;
    text-align: center;
    font-size: 1.5em;
    color: var(--color-white);
    font-family: 'Inter', sans-serif;
    margin-right: 0;
}
  .know-more-about1{
    width: 864px;
    height: 155px;

  }


      /* Add your mobile-specific styles here */


      
.aq {
  left: 50%;
  right: 50%;
  padding: 4em;
  margin-top: 12em;
  align-items: flex-end;
}

.know-more-about-me-wrapper {
  display: flex;
  flex-direction: row;
  padding: 2.25rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2em;
  margin-top: 2.5em;
}

.i-am-a1 {
  position: absolute;
  top: 2rem;
  left: 440px;
  line-height: 120%;
  font-weight: 200;
  width: 637px;
  margin-bottom: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.group-child {
  
  width: 700px;
  height: 285px;
  left: 421px;
  
  
}
.group-child1 {
  
  width: 700px;
  height: 285px;
  left: 421px;
  
  
}
.rectangle-parent {
  /* position: relative; */
  width: 75rem;
  height: 21rem;
  /* margin-bottom: 3.5rem; */
}
.desktop-19 {
  width: 100%;
  height: 145.69rem;
  text-align:start;
  font-size: 1.7rem;
}


.group-item{
  width: 704px;
  height: 375px;
  left: 367px;
  
}

.i-use-my-container {
  position: absolute;
  top: 2rem;
  left: 390px;
  line-height: 120%;
  font-weight: 200;
  width: 637px;
  margin-bottom: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}
.i-am-passionate {
  position: absolute;
  top: 2rem;
  left: 440px;
  line-height: 120%;
  font-weight: 200;
  width: 637px;
  margin-bottom: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.know-more-about-me-wrapper1 {
    padding: 1rem 19rem 0 6rem;
    margin: 0 0 0 15rem;
    font-size: 2.5rem;
  }
  .know-more-about{
    
    width: 800px;
    height: 43px;
    text-align: center;
    font-size: 6rem;
    line-height: 70%;

}

.know-more-about125 {
  margin-top: 4rem;
  left: 32rem;
}

ul li{
 display: inline;
  font-size: 4rem;
}

.hi-im-pritam-saha-and-i-desi-parent {
  font-size: 2.25em;
}

.img-2012-1-icon{
  width: 38rem;
  padding: 0  6.5rem 0 6.5rem;
  height: 15rem;

}
.img-2012-1-wrapper {
  padding: 0 2rem;

}
.hi-im-pritam-container {
  width: 45.56rem;
}
.know-more-about1{
  padding-right: 20rem;
}

.container-pri {
  margin-top: 6rem;
  width: 41.5rem;
}



.cta-form, .cta-form2 {
  grid-template-columns: 1fr;
}

.btn--form {
  margin-top: 1.2rem;
}
.cta-form2 input {
  margin-left: 2rem;
  width: 90%;
  padding-bottom: 250px;
  padding-left: 4rem;
}
.cta-form input {
  margin-right: 0rem;
}


    
}



@media only screen and (max-width: 425px) {
       /* Add your mobile-specific styles here  */


       h2 {
        font-size: 3rem;
        margin-left: -1rem;
    }

       .cta {
        grid-template-columns: 1fr;
        margin: 0 0px;
      }
      .container {
        max-width: 524rem;
        padding: 32px 0;
        height: 300px;

    }

      

       h2 {
        font-size: 2rem;
      
    }

       .a-small-selection {
        width: 17rem;
        text-align: center;
       }

       .frame-div{
        align-items: center; 
        width: 400px;
        height: 656px;
       }

       .frame-145 {
        padding: 109px 143px;
    }
       .frame-div1{
        align-items: center; 
        width: 400px;
        height: 1132px;
        margin: 45px 0 10px 0;
       }
    .portfolio{
      max-width: 425px;
      height: 656px;
      
    
      
    }
    .portfolio2{
      max-width: 428px;
      height: 62em;
    }


      .people-first1{

        width: 300px;
        height: 70px;   
     }
     .people-first{
      max-width: 300px;
      height: 90px;
     }


   

     .pritam-saha.pritam-saha-1 {
      margin-top: 140px;
      font-size: 20px;
      line-height: 30px;
      width: 11em;
      height: 5em;
  }

     .people-first-parent {
      align-items: start;
      flex-direction: column; 
      align-items: center;
     justify-content: center;

      
    height: 40px;
    margin-top: 81px;
    margin-bottom: 0;


  }

  
  .button {
    width: 360px;
    height: 60px;
    padding-left: 40px;
  }
  
  .outer-div {
    
    display: grid;
    height: 30px;
    width: 150px;
    position: relative;
    border-radius: 3px;
    
  }
  .inner_div {
    top: 50%;
    left: 50%;
    align-items: center;
    text-align: center;
    height: 50px;
    max-width: 118px;
    align-items: center;
      border-radius: 8px;
      transform: translate(-50%,-50%);
      position: absolute;
      background-color: black;
    }
    
    .frame-parent6{
      padding: 1rem;
      font-size: 1.5rem;
  }
  
  
  .i-specialise-in {
    margin-top: 15px;
    font-size: 1.30em;
    /* line-height: 20px; */
    max-width: 425px;
    height: 150px;
    align-items: center;
    
    
  }

  
  .read-more {
    line-height: 250%;
    font-size: medium;
  }
  .xbt {
    line-height: 120%;
    width: 250px;
    height: 100px;
    
  }
  .frame-15256-1{
    max-width: 300px;
    max-height: 185px;
  }
  
  .frame-parent8 {
    flex-direction: column;
    gap: var(--gap-13xl);
  }
  
  
  .frame-wrapper{
    display: none;
  }
  
  
  .akounto{
    left: 22.94rem;
  }
  .frame-parent7 {
    gap: 0;
    height: 450px;
    /* z-index: 1; */
  }
  
  .a {
    display: flex;
    flex-direction: column;
    
    font-size:x-large;
  }

  .know-more-about-me-wrapper1{
    margin: -45px 0 0 18rem;
  }
  .know-more-about1{
    padding-right: 25rem;
    font-size: 2.5rem;

  }

 .outer_div1 {
    margin-left: 7rem;
 }
 .read-more1 {
  font-size: 30.5px;
  /* line-height: 0%; */
}
.container-pri {
  margin-top: 1rem;
  width: 13.5rem;
  font-size: large;
}
.desktop-19 {
  width: 100%;
  height: 145.69rem;
  text-align: left;
  font-size: 15px;
}
.hei-12 {
  top: 5rem;
  left: 0;
  font-size: 1em;
  max-width: 1005px;
}


.img-2012-1-icon {
  width: 17rem;
  padding: 0 12px ;
  height: 15rem;
}

.xbc{
  font-size: 84px;
}

ul li{
  font-size: 2rem;
}

.know-more-about{
  line-height: 39%;
}
.group-child1 {
  width: 336px;
  height: 360px;
  left: 421px;
}

.group-item {
  width: 336px;
  height: 450px;
  left: 395px;
}

.rectangle-parent {
  margin-bottom: 25.5rem;
}

.rectangle-group {
  margin-bottom: 30.5rem;
}

.i-am-a1 {
  width: 306px;
  line-height: 220%;
}
.i-use-my-container  {
  width: 339px;
  line-height: 250%;
}
.i-am-passionate  {
  width: 305px;
  line-height: 230%;
}

.cta .heading-secondary {
  font-size: 2rem;
  /* line-height: 1rem; */
  margin-bottom: 1.2rem;
}
.cta-text {
 font-size: 16px;
 font-weight: 800;
 line-height: 1;
  margin-bottom: 0.8rem;
}

.cta-text {
  margin-left: 1.4rem;
  margin-top: 16px;
  margin-bottom: 32px;
  margin-right: 1.4rem;
}
.cta-form input, .cta-form select {
  width: 328px;
  padding-right: 0;
  margin-right: 0;
  font-size: 1rem;
}
.cta-form2 input {
  margin-left: 2rem;
  width: 328px;
  height: 170px;
  font-size: 1rem;
  padding-bottom: 9rem;
}
.section-cta {
  /* padding: 9.6rem 0 12.8rem 0; */
  padding: 1.8rem 0 8.8rem;
}
.cta-form{
  row-gap: 0.4rem;
}
.message-wrapper {
  /* max-width: 211%; */
  margin-top: 00.5rem;
}

.btnx {
  width: 328px;
  margin-left: 0rem;
}

.btn--form {
  /* margin-top: 1.2rem; */
}
.cta-form2 input {
  /* margin-left: 2rem; */
  width: 328px;
  height: 170px;
  margin
  padding-bottom: 50px;
  padding-left: 1rem;
}
.cta-form input {
  /* margin-right: 0rem; */
  margin-bottom: 1rem;
}

.frame-parent7 {
  margin-left: 11px;
}
.frame-parent15{
  display: flex;
  flex-direction: column;
   gap: 12px;
}

.blu-smart-parent {
top: -242px;
}
.abcd-12 {
  margin-top: 210px;
}

bue-154{
margin-top: 50px;
}








}